/* BUTTON SMALL STYLE */

.button-small,
.button-small-inverted {
    transition: all 0.5s;
    border-radius: 80px;
    padding: 15px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: fit-content;
    width: fit-content;
}

.button-small {
    border: 1px solid transparent;
    background-color: #0068ff;
    color: #fff;
}

.button-small:hover {
    border: 1px solid #0068ff;
    background-color: white;
}

.button-small:hover span {
    color: #0068ff;
}

.button-small:hover svg {
    fill: #0068ff;
}

/* BUTTON SMALL INVERTED STYLE */

.button-small-inverted {
    border: 1px solid #0068ff;
    background-color: transparent;
    color: #0068ff;
}

.button-small-inverted svg {
    fill: #0068ff;
}

.button-small-inverted:hover {
    border: 1px solid transparent;
    background-color: #0068ff;
}

.button-small-inverted:hover span {
    color: #fff;
}

.button-small-inverted:hover svg {
    fill: #fff;
}