/* scrivere css per ogni componente (modulo css) */

.App {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #FCFCFD;
}

a {
  line-height: 0;
}