.header-logo {
    height: 45px;
    display: flex;
    align-items: center;
}

.header {
    display: flex;
    background-color: #fff;
    padding: 1rem 2rem;
    justify-content: space-between;
    align-items: center;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 1px 1px 10px gray;
}

.container-header-item {
    display: flex;
    width: 600px;
    justify-content: space-around;
}

.header-item {
    align-items: center;
    display: flex;
    font-weight: 500;
}

.header-item:hover {
    color: #0068ff;
    transition: all 0.5s;
}

.link {
    text-decoration: none;
}