.low-description {
    display: flex;
    margin-top: 200px;

}

.advantages {
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-low-desc {
    font-weight: 500;
    margin: 0;
    margin-right: 100px;
    margin-bottom: 50px;
}