/* scrivere css per ogni componente (modulo css) */

.App {
  text-align: center;
  padding: 20px 100px;
}

.header-logo {
  height: 45px;
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
}

.container-header-item {
  display: flex;
  width: 600px;
  justify-content: space-around;
}

.header-item {
  align-items: center;
  display: flex;
}

.header-item:hover {
  color: #0068ff;
  transition: all 0.5s;
}